<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TPSite</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        
    </style>
</head>
<body>
    @*<partial name="_CookieConsentPartial" />*@

    <div class="container">
        <div class="header">
            <el-button style="float: right;" type="primary" @@click="loginDialogVisible = true">进入聊天室</el-button>
            <el-dialog title="登录" :visible.sync="loginDialogVisible">
                <el-form :model="user" status-icon :rules="rules" ref="user" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="用户名" prop="name">
                        <el-input type="text" v-model="user.name" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" prop="password">
                        <el-input type="password" v-model="user.password" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @@click="submitLogin('user')">登录</el-button>
                        <el-button @@click="resetForm('user')">重置</el-button>
                    </el-form-item>
                </el-form>
            </el-dialog>
        </div>
        <div class="mainContent">
            <div class="left">
                @RenderBody()
            </div>
            <div class="right">
                <div class="tip">
                    <div id="sideBar" class="sideBar">
                        <div class="newsItem">
                            <h3 class="catListTitle" style="text-align: center">公告</h3>
                            <div id="blog-news">
                                <style>
                                    #clock {
                                        font-family: 'Share Tech Mono', monospace;
                                        color: #ffffff;
                                        text-align: center;
                                        position: absolute;
                                        right: -100px;
                                        margin-top: 70px;
                                        max-width: 80%;
                                        -webkit-transform: translate(-50%, -50%);
                                        transform: translate(-50%, -50%);
                                        color: #25a9da;
                                        text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
                                    }

                                        #clock .time {
                                            letter-spacing: 0.05em;
                                            font-size: 45px;
                                            padding: 5px 0;
                                        }

                                        #clock .date {
                                            letter-spacing: 0.1em;
                                            font-size: 24px;
                                        }

                                        #clock .text {
                                            letter-spacing: 0.1em;
                                            font-size: 12px;
                                            padding: 20px 0 0;
                                        }

                                    #waifu {
                                        left: 85%;
                                    }
                                </style>
                                <div style="border-top: 1px dashed #ccc;padding: 5px;border-bottom: 1px dashed #ccc;height: 120px;">
                                    <div id="clock" class="clock">
                                        <p class="date">{{date}}</p>
                                        <p class="time">{{time}}</p>
                                    </div>
                                </div>
                                <embed class="music" src="//music.163.com/style/swf/widget.swf?sid=2307767639&amp;type=0&amp;auto=1&amp;width=310&amp;height=90" width="330" height="110" allownetworking="all">

                                @*<a href="https://www.cnblogs.com/clwydjgs/">
                                        <img src="https://files.cnblogs.com/files/clwydjgs/touxiang.bmp">
                                    </a>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <p>&copy; @DateTime.Now.Year - TPSite</p>
        </div>
    </div>
    <!--js-->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
        var clock = new Vue({
            el: '#clock',
            data: {
                time: '',
                date: ''
            }
        });

        var week = ['星期天', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'];
        var timerID = setInterval(updateTime, 1000);
        updateTime();
        function updateTime() {
            var cd = new Date();
            clock.time = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(), 2) + ':' + zeroPadding(cd.getSeconds(), 2);
            clock.date = zeroPadding(cd.getFullYear(), 4) + '-' + zeroPadding(cd.getMonth() + 1, 2) + '-' + zeroPadding(cd.getDate(), 2) + ' ' + week[cd.getDay()];
        };

        function zeroPadding(num, digit) {
            var zero = '';
            for (var i = 0; i < digit; i++) {
                zero += '0';
            }
            return (zero + num).slice(-digit);
        }
    </script>
    <script type="text/javascript">
        var valid = new Vue({
            el: ".header",
            data() {
                return {
                    loginDialogVisible: false,
                    user: {
                        name: "",
                        password: ""
                    },
                    rules: {
                        name: [
                            {
                                validator: (rule, value, callback) => {
                                    if (value === '') {
                                        callback(new Error('请输入用户名'));
                                    }
                                    callback();
                                },
                                trigger: 'blur'
                            }
                        ],
                        password: [
                            {
                                validator: (rule, value, callback) => {
                                    if (value === '') {
                                        callback(new Error('请输入密码'));
                                    }
                                    callback();
                                },
                                trigger: 'blur'
                            }
                            //{ type: "string", required: true, message:'请输入密码', trigger: 'blur' }
                        ]
                    }
                };
            },
            methods: {
                submitLogin(user) {
                    this.$refs[user].validate((valid) => {
                        if (valid) {
                            var data = { UserName: this.user.name, Password: this.user.password, ReturnUrl: queryString("ReturnUrl") };
                            $.post('/Account/Login', data, function (res) {
                                if (res.statusCode == 200) {
                                    window.location.href = res.data;
                                } else {
                                    alert(res.msg);
                                    return;
                                }
                            }, 'json');
                        } else {
                            return false;
                        }
                    });
                },
                resetForm(user) {
                    this.$refs[user].resetFields();
                }
            }
        });
                //var validatePassword = (rule, value, callback) => {
                //    if (value === '') {
                //        callback(new Error('请输入密码'));
                //    } else {
                //        if (this.user.password !== '') {
                //            this.$refs.user.validateField('password');
                //        }
                //        callback();
                //    }
                //};
                //function validatePassword(rule, value, callback){
                //    if (value === '') {
                //        callback(new Error('请输入密码'));
                //    } else {
                //        if (this.user.password !== '') {
                //            this.$refs.user.validateField('password');
                //        }
                //        callback();
                //    }
                //};
    </script>
    <partial name="_KanbanNiangPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
