@using System.Security.Claims

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoubleRoom</title>
    <link href="~/css/chat.css" rel="stylesheet" />
</head>
<body lang="zh">
    <img class="abs cover body-bg" style="width:100%;height:100%" src="~/images/bg.jpeg">
    <div id="app" v-cloak class="abs cover contaniner">
        @if (User.Identities.Any(i => i.IsAuthenticated))
        {
            <h1>
                欢迎登录 @User.Identities.First(i => i.IsAuthenticated).FindFirst(ClaimTypes.Name).Value
            </h1>
        }
        <div class="abs cover pnl">
            <div class="top pnl-head"></div>
            <div class="abs cover pnl-body" id="pnlBody">
                <div class="abs cover pnl-left">
                    <!--广告条消息-->
                    <div>
                        <div class="msg-banner" :class="tipsHide" id="msgbanner">
                            <div class="close" id="close">
                                <i class="kh" @@click="closeTips">X</i>
                            </div>
                            <div id="banner">
                                <strong>Tips：</strong> <span id="systemTips"></span>
                            </div>
                        </div>
                    </div>
                    <div class="abs cover pnl-msgs scroll" id="show">
                        <div class="msg min time" id="histStart" v-if="isCanLoadhistoryMsg" @@click="getHistoryMsg">加载历史消息</div>
                        <div class="pnl-list" id="hists" v-for="item in historyMsg">
                            <!-- 历史消息 -->
                            <div class="msg robot" v-if="item.fromUserId != currentUserId">
                                <div class="msg-left" :worker="item.fromUser.userName">
                                    <div class="msg-host photo" style="background-image: url('https://www.v5kf.com/files/icons/201610/14761555537.png');"></div>
                                    <div class="msg-ball" :title="item.creationTime">
                                        {{item.message}}
                                    </div>
                                </div>
                            </div>
                            <div class="msg guest" v-if="item.toUserId != currentUserId">
                                <div class="msg-right" :worker="item.fromUser.userName">
                                    <div class="msg-host headDefault"></div>
                                    <div class="msg-ball" :title="item.creationTime">{{item.message}}</div>
                                    <div class="msg-host photo" style="background-image: url('https://www.v5kf.com/files/icons/201610/14761555537.png');"></div>
                                </div>
                            </div>
                        </div>
                        <div class="pnl-list" id="msgs">
                            @*<div class="msg robot">
                                    <div class="msg-left" worker="小龙">
                                        <div class="msg-host photo" style="background-image: url('https://www.v5kf.com/files/icons/201610/14761555537.png');"></div>
                                        <div class="msg-ball" title="今天 17:52:06">
                                            你好，我是只能打字的聊天机器人 <br><br>您是想要了解哪些方面呢？
                                        </div>
                                    </div>
                                </div>
                                <div class="msg guest">
                                    <div class="msg-right" worker="@User.Identities.First(i => i.IsAuthenticated).FindFirst(ClaimTypes.Name).Value">
                                        <div class="msg-host headDefault"></div>
                                        <div class="msg-ball" title="今天 17:52:06">你好</div>
                                        <div class="msg-host photo" style="background-image: url('https://www.v5kf.com/files/icons/201610/14761555537.png');"></div>
                                    </div>
                                </div>*@
                        </div>
                        <div class="pnl-list hide" id="unreadLine">
                            <div class="msg min time unread">未读消息</div>
                        </div>
                    </div>
                    <div class="abs bottom pnl-text">
                        <div class="abs top pnl-warn" id="pnlWarn">
                            <div class="fl btns rel pnl-warn-free">
                                <img src="https://www.v5kf.com/files/icons/201610/14761555537.png" class="kh warn-btn" title="表情" id="emojiBtn" />
                                <img src="https://www.v5kf.com/files/icons/201610/14761555537.png" class="kh warn-btn" title="截屏" id="emojiBtn" />
                                <img src="https://www.v5kf.com/files/icons/201610/14761555537.png" class="kh warn-btn" title="图片" id="emojiBtn" />
                                <img src="https://www.v5kf.com/files/icons/201610/14761555537.png" class="kh warn-btn" title="保存" id="emojiBtn" />
                            </div>
                        </div>
                        @*<div class="abs top pnl-warn" id="pnlWarn">
                                <div class="fl btns rel pnl-warn-free">
                                    <i class="kh warn-btn emoji-btn" title="表情" id="emojiBtn"></i>
                                    <i class="kh warn-btn menu-btn" title="菜单" id="menuBtn"></i>
                                    <i class="kh warn-btn send-btn" style="display: none; color: rgb(41, 42, 42);" title="发送" id="sendBtn"></i>
                                    <i class="kh warn-btn mute-btn" title="静音" id="muteBtn"></i>
                                </div>
                                <div class="fl btns rel pnl-warn-left" id="pnlBtns">
                                    <div class="pnl-warn-btns">
                                        <i class="kh warn-btn" title="常见问题" id="quesBtn"></i>
                                        <i class="kh warn-btn" title="图片上传" id="uploadBtn"></i>
                                        <i class="kh warn-btn" style="display:none;" title="视频" id="videoBtn"></i>
                                        <i class="kh warn-btn" style="display:none;" title="语音" id="voiceBtn"></i>
                                        <i class="kh warn-btn" style="display:none;" title="拍照上传" id="cameraBtn"></i>
                                        <i class="kh warn-btn" title="截图提示" id="scrshot"></i>
                                        <i class="kh warn-btn" title="评价" id="evalBtn"></i>
                                        <i class="kh warn-btn" title="我要留言" id="msgBtn"></i>
                                        <i class="kh warn-btn" title="提示音" id="voiceMbBtn"></i>
                                        <i class="kh warn-btn" title="转人工" id="humanBtn"></i>
                                    </div>
                                    <div class="pnl-support-sm" id="copyrightSm"><a href="//www.v5kf.com">V5KF提供服务支持</a></div>
                                </div>
                                <div class="fl right pnl-warn-right">
                                    <span class="sess-status" id="sessStatus"><!-- 机器人小五 <small>为您服务</small> --></span>
                                    <!-- <i class="kh" kh-warn>&#xe80b;</i> --><span id="val-left" style="display:none;">您还可以输入<span id="valleft">450</span>字</span>
                                </div>
                            </div>*@
                        <div class="abs cover pnl-input">
                            <textarea class="scroll" id="text" wrap="hard" v-model="textMsg" placeholder="在此输入文字信息..."></textarea>
                            <div class="abs atcom-pnl scroll hide" id="atcomPnl">
                                <ul class="atcom" id="atcom"></ul>
                            </div>
                        </div>
                        @*<div class="abs br pnl-btn" id="submit" style="background-color: rgb(32, 196, 202); color: rgb(255, 255, 255);" onclick="SendMsg()">发送</div>*@
                        <div class="abs br pnl-btn" id="submit" style="background-color: rgb(32, 196, 202); color: rgb(255, 255, 255);" @@click="send">发送</div>
                        <div class="pnl-support" id="copyright">
                            <a href="#">yp提供技术支持</a>
                        </div>
                    </div>
                </div>
                <div class="abs right pnl-right">
                    <!-- <div class="slider-container hide"></div> -->
                    <div class="slider-container">
                        <ul class="slider anim" id="slider" style="width: 1040px; left: -260px;">
                            <a href="#">
                                <li index="0" class="slider-item" style="background-image: url(&quot;/images/tx.jpg&quot;);width: 260px;"></li>
                            </a>
                            <a href="#">
                                <li index="1" class="slider-item" style="background-image: url(&quot;/images/tx.jpg&quot;); width: 260px;"></li>
                            </a>
                            <a href="#">
                                <li index="2" class="slider-item" style="background-image: url(&quot;/images/tx.jpg&quot;); width: 260px;"></li>
                            </a>
                            @*<li index="0" class="slider-item" style="background-image: url(&quot;/images/tx.jpg&quot;); background-repeat:no-repeat;background-size:100% 100%;-moz-background-size:100% 100%;width: 260px;"></li>*@
                        </ul>
                        <ul class="indicator anim">
                            <li index="0" class="focus-item active"></li>
                            <li index="1" class="focus-item"></li>
                            <li index="2" class="focus-item"></li>
                        </ul>
                    </div>
                    <div class="pnl-right-content">
                        <div class="pnl-tabs">
                            <div class="tab-btn active" id="hot-tab">常见问题</div>
                            <div class="tab-btn" id="rel-tab">相关问题</div>
                        </div>
                        <div class="pnl-hot">
                            <ul class="rel-list unselect" id="hots">
                                <!-- <li class="rel-item" title="点击发送问题">这是一个问题，这是一个问题？</li> -->
                            </ul>
                        </div>
                        <div class="pnl-rel" style="display: none;">
                            <ul class="rel-list unselect" id="rels">
                                <!-- <li class="rel-item">这是一个问题，这是一个问题？</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        $(function () {
            var arr = ['0', '-260px', '-520px', '780px'];
            var index = 0;
            //var curleftpx = $("#slider").css("left");
            setInterval(function () {
                $("#slider").css("left", arr[index]);
                index++;
                if (index > 2) {
                    index = 0;
                }
            }, 3000);
        });
    </script>
    <partial name="_KanbanNiangPartial" />
</body>
</html>
